<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scouting 2017</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="vue-impression.css">
    <script src="vue.js"></script>
    <script src="vue-impression.js"></script>
    <script src="store2.min.js"></script>
    <script src="vue-resource.min.js"></script>
    <style>
    .input-text-input {
        font-size: 100%;
    }
    </style>
</head>

<body style="font-size: 120%">
    <div id="app">
        <navbar>
            <h4 slot="body">Scouting 2017</h4>
        </navbar>
        <group-title>Info</group-title>
        <group>
            <cell>
                <div class="input-text">
                    <input type="number" v-model="d.team" class="input-text-input" placeholder="Team Number">
                </div>
            </cell>
            <cell>
                <div class="input-text">
                    <input type="number" v-model="d.match" class="input-text-input" placeholder="Match Number" style="font-size: 100%;">
                </div>
            </cell>
            <cell>
                <inline-selector v-model="d.color">
                    Team Color: &nbsp;
                    <inline-selector-option value="red">Blue</inline-selector-option>
                    <inline-selector-option value="blue">Red</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.drive">
                    Drive Train: &nbsp;
                    <inline-selector-option value="mechanum">Mech</inline-selector-option>
                    <inline-selector-option value="tank">Tank</inline-selector-option>
                    <inline-selector-option value="omni">Omni</inline-selector-option>
                    <inline-selector-option value="other">Other</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.wheels">
                    Number of Wheels: &nbsp;
                    <inline-selector-option value="4">4</inline-selector-option>
                    <inline-selector-option value="6">6</inline-selector-option>
                    <inline-selector-option value="8">8</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                People in Airship
                <input-number :max="2" :min="1" slot="footer" v-model="d.airship"></input-number>
            </cell>
        </group>
        <group-title>Auton</group-title>
        <group>
            <cell>
                <inline-selector v-model="d.autonmovement" multiple>
                    Movement: &nbsp;
                    <inline-selector-option value="moves">Moves</inline-selector-option>
                    <inline-selector-option value="cross">Crosses</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autongears" multiple>
                    Gears: &nbsp;
                    <inline-selector-option value="starts">Starts</inline-selector-option>
                    <inline-selector-option value="places">Places</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonballs" multiple>
                    Balls: &nbsp;
                    <inline-selector-option value="starts">Starts</inline-selector-option>
                    <inline-selector-option value="high">Shoots High</inline-selector-option>
                    <inline-selector-option value="low">Shoots Low</inline-selector-option>
                </inline-selector>
            </cell>
        </group>
        <group-title>Teleop</group-title>
        <group>
        </group>
        <cell>
            <btn block size="lg" @click="submit">Submit</btn>
        </cell>
        <!--<code>
            {{JSON.stringify(data)}}
        </code>-->
    </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {
        d: {
            match: null,
            team: null,
            drive: "tank",
            wheels: "4",
            color: "blue",
            airship: 1,
            autonmovement: ["moves"],
            autongears: "",
            autonballs: "",
        },
        default: {},
        data: [],
    },
    created: function() {
        this.default = JSON.parse(JSON.stringify(this.d));
        this.data = store("data") || [];
    },
    methods: {
        submit: function() {
            this.data.push(this.d)
            store("data", this.data);
            this.d = JSON.parse(JSON.stringify(this.default));
            this.$http.post('', this.data).then(function() {
                store.remove("data") //removes everything
                this.data = [];
                this.$alert({//we did it reddit
                    message: 'Form Submitted',
                    title: ":D",
                    okText: "Okay",
                });
            });
        }
    }
})
</script>

</html>
